@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");


html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.primary {
  color: #025162;
}

.secondary {
  color: #eadfd8;
}

.tertiary {
  color: #e75313;
}

.darkGray {
  color: #414141;
}

.bgdarkgray {
  color: #e1e1e1;
}